.formulario{
    background-color: rgb(249, 171, 142);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
    padding: 30px;
    border-radius: 5px;
    max-width: 600px;

    .formularioInput{
            margin: 10px 0;
            height: 30px;
            border-radius: 5px;
            width: 100%;
        
    }
    
    .Button{
        background-color: rgb(33, 161, 220);
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid beige;
    }
}